<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Trato" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="Trato.Android" android:icon="@drawable/xamarin_logo">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyClgpdJAlSDhGlIf1ZQuCtbEPDwsmLYOMA" />
  </application>
</manifest>